.container{
	padding: 0px;
}



.navbar{
	background-image: url("../img/home.jpg");
	margin-bottom: 0px;
}
.navbar-inverse{
	background-color: transparent;
}

.navbar{
	border-radius: 0px;
}
.navbar-nav{
	float: none;
}
.navbar-nav > li {
	width: 100%;
}
.navbar-nav > ul {
	float: none;
}
.navbar-nav > li a{
	text-align: center;
}

.no-padding{
	padding: 0px;
}

.contact-pannel-text{
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

